
    <div class="grid-container">
        <div class="main-banner">
            <div class="banner-overlay">
              <p class="banner-text">Welcome to CSE Motors</p>
            </div>
            <div class="banner-info">
              <%- messages() %>
              <h2 class="banner-heading">DMC Delorean</h2>
              <ul class="banner-list">
                <li>3 Cup Holders</li>
                <li>Superman Doors</li>
                <li>Fuzzy Ice</li>
              </ul>
              <button class="banner-button">Buy today!</button>
            </div>
          </div>          
          <div class="section1">
            <h2 class="section1-heading">Delorean Upgrades</h2>
            <div class="upgrades-grid-container">
              <div class="upgrades-grid-item">
                <img src="/images/upgrades/flame.jpg" alt="Upgrade 1">
                <a href="#">Flame Decals</a>
              </div>
              <div class="upgrades-grid-item">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Upgrade 2">
                <a href="#">Bumper Sticker</a>
              </div>
              <div class="upgrades-grid-item">
                <img src="/images/upgrades/flux-cap.png" alt="Upgrade 3">
                <a href="#">Flux-Cap</a>
              </div>
              <div class="upgrades-grid-item">
                <img src="/images/upgrades/hub-cap.jpg" alt="Upgrade 4">
                <a href="#">Hub-Cap</a>
              </div>
            </div>
          </div>
          
          <div class="section2">
            <h2 class="section2-heading">DMC Delorean Reviews</h2>
            <ul class="review-list">
              <li>Excellent car, fast and reliable. ⭐⭐⭐⭐</li>
              <li>Impressive performance and sleek design. ⭐⭐⭐⭐⭐</li>
              <li>Love the retro look and powerful engine. ⭐⭐⭐⭐</li>
              <li>Unmatched style and attention to detail. ⭐⭐⭐⭐</li>
              <li>Absolutely thrilled with my Delorean purchase. ⭐⭐⭐⭐⭐</li>
            </ul>
          </div>
          
    </div>
  