/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Header styles */
#top-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px 30px 70px;
  background-color: #f8f9fa;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}

.siteName a {
  color: #007bff;
  text-decoration: none;
  font-size: 2.3rem;
}

#tools a {
  color: #3a3a3a;
  text-decoration: none;
  font-size: 1rem;
}

#tools a:hover {
  color: #0056b3;
}


/* Navigation styles */
nav {
  background-color: #343a40;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

nav ul li {
  display: flex;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  transition: background-color 0.3s; 
}

nav ul li a:hover {
  background-color: #9dceff; 
  color: #000000;
}
@media (max-width: 480px) {
  /* Navigation styles */
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    padding: 10px;
    font-size: 16px;
  }
}


/* Footer styles */
footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  padding: 20px;
  text-align: center;
}

.copyright {
  color: #000000;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  height: auto;
}

.main-banner {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.section1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #285685;
}

.section2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #5d6b79;
}


.main-banner {
  background-image: url('/images/vehicles/delorean.jpg'); 
  background-size: auto;
  background-color: #000000;
  background-position: center;
  background-repeat: repeat;
  height: 500px;
  position: relative;
}



.banner-overlay { 
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text {
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
}

.banner-info {
  position: absolute;
  bottom: 20px;
  left: 70px;
  color: #ffffff;
}

.banner-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.banner-list li {
  margin-bottom: 5px;
  font-size: 23px;
}

.banner-button {
  background-color: #165292;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
.section1 {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.section1-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.upgrades-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.upgrades-grid-item {
  text-align: center;
}

.upgrades-grid-item img {
  width: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.upgrades-grid-item a {
  display: block;
  margin-top: 10px;
  color: #175ba3;
  text-decoration: none;
}
.section2 {
  background-color: #162c42;
  padding: 20px 20px 20px 40px;
  text-align: justify;
}

.section2-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #dee2e6;
  margin-bottom: 20px;
}

.review-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.review-list li {
  margin-bottom: 15px;
  color: #dee2e6;
  font-size: 20px;
}
@media (max-width: 767px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  
  .section1,
  .section2 {
    grid-column: initial;
    grid-row: initial;
  }
  #top-header {
    padding: 15px;
  }
  
  .siteName a {
    font-size: 1.8rem;
  }
  
  #tools a {
    font-size: 0.8rem;
  }
  
  nav ul li a {
    padding: 15px;
    font-size: 18px;
  }
  
  .banner-info {
    left: 30px;
  }
  
  .banner-heading {
    font-size: 1.8rem;
  }
  
  .banner-list li {
    font-size: 20px;
  }
  
  .banner-button {
    font-size: 0.9rem;
  }
  
  .section1-heading {
    font-size: 1.8rem;
  }
  
  .upgrades-grid-item img {
    width: 150px;
    max-height: 150px;
  }
  
  .upgrades-grid-item a {
    font-size: 0.9rem;
  }
  
  .section2-heading {
    font-size: 1.8rem;
  }
  
  .review-list li {
    font-size: 13px;
  }
}


#inv-display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 30px;
  min-height: 900px;
}

#inv-display li {
  list-style: none;
  height: 240px; /* Adjust the height as needed */
}

#inv-display li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
}

#inv-display li > a img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.namePrice {
  margin-top: 10px;
}

.namePrice hr {
  margin: 10px 0;
}

.namePrice h2 {
  font-size: 18px;
  margin: 10px 0;
}

.namePrice span {
  font-weight: bold;
  color: #ff6600;
}



/*Vehicles*/
/* Additional styles from vehicle.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.image {
  margin-right: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.info {
  flex-grow: 1;
  text-align: left;
}

h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.info p {
  margin: 0;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  color: #555;
}

@media (max-width: 767px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  
  .image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}


/*LOGIN VIEW*/
/*_____________*/
.login_p {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.login_p h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.login_p form {
  margin-top: 20px;
}

.login_p label {
  display: block;
  margin-bottom: 10px;
}

.login_p input[type="email"],
.login_p input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.login_p button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #284080;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login_p button[type="submit"]:hover {
  background-color: #273867;
}

.login_p p {
  text-align: center;
  margin-top: 20px;
}

.login_p p a {
  color: #2d3686;
  text-decoration: none;
}


/*REGISTER VIEW*/
/*_____________*/
.register_p {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register_p form {
  display: flex;
  flex-direction: column;
}

.register_p label {
  margin-bottom: 8px;
  font-weight: bold;
  display: block;
  text-align: left; /* Add this line to left-align the labels */
}

.register_p input,
.register_p button {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register_p button {
  background-color: #975723;
  color: #fff;
  cursor: pointer;
}

.register_p button:hover {
  background-color: #693d19;
}

.register_p p {
  text-align: center;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 40px;
}

.password-wrapper button {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #000000;
  cursor: pointer;
}

.password-wrapper button:hover {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  border: none;
  color: #ffffff;
  cursor: pointer;
}

/*Management View
*/

.management {
  text-align: center;
  margin-top: 20px;
  min-height: 150px;
}

.management h1 {
  font-size: 24px;
  color: #333;
}

.management .notice {
  list-style: none;
  padding: 10px;
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  margin: 20px auto;
  max-width: 400px;
}

.management .notice li {
  margin-bottom: 5px;
}

.management a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.management a:hover {
  background-color: #23527c;
}

@media (max-width: 480px) {
  .management {
    min-height: auto;
  }

  .management h1 {
    font-size: 20px;
  }

  .management .notice {
    max-width: 300px;
  }
}

/*Classification View
*/

.classview {
  text-align: center;
  margin-top: 20px;
  min-height: 150px;
}

.classview h1 {
  font-size: 24px;
  color: #333;
}

.classview .notice {
  list-style: none;
  padding: 10px;
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  margin: 20px auto;
  max-width: 400px;
}

.classview .notice li {
  margin-bottom: 5px;
}

.classview input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.classview button[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.classview button[type="submit"]:hover {
  background-color: #23527c;
}

.classview .error {
  color: #a94442;
}

@media (max-width: 480px) {
  .classview {
    min-height: auto;
  }

  .classview h1 {
    font-size: 20px;
  }

  .classview .notice {
    max-width: 300px;
  }
}


/*More Inventory
*/

.add-inventory {
  text-align: center;
  margin-top: 20px;
}

.add-inventory h1 {
  font-size: 24px;
  color: #333;
}

.add-inventory .notice {
  list-style: none;
  padding: 10px;
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  margin: 20px auto;
  max-width: 400px;
}

.add-inventory .notice li {
  margin-bottom: 5px;
}

.add-inventory form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 20px auto;
}

.add-inventory form div {
  margin-bottom: 10px;
}

.add-inventory label {
  font-weight: bold;
}

.add-inventory input[type="text"],
.add-inventory input[type="number"],
.add-inventory textarea,
.add-inventory select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-inventory button[type="submit"] {
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-inventory button[type="submit"]:hover {
  background-color: #23527c;
}


/*Edit Inventory
*/
/* Global styles */
.edit-inventory {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.edit-inventory h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.edit-inventory ul.notice {
  list-style: none;
  padding: 0;
  margin: 0;
}

.edit-inventory ul.notice li {
  color: red;
}

.edit-inventory form {
  margin-top: 20px;
}

.edit-inventory form div {
  margin-bottom: 15px;
}

.edit-inventory label {
  display: block;
  font-weight: bold;
}

.edit-inventory input[type="text"],
.edit-inventory input[type="number"],
.edit-inventory textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-inventory select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-inventory button {
  padding: 8px 16px;
  background-color: #1d646d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-inventory button:hover {
  background-color: #113f46;
}

/* Media queries for phone view */
@media (max-width: 600px) {
  .edit-inventory h1 {
    font-size: 20px;
  }
  
  .edit-inventory label {
    font-size: 14px;
  }
  
  .edit-inventory input[type="text"],
  .edit-inventory input[type="number"],
  .edit-inventory textarea,
  .edit-inventory select {
    font-size: 14px;
  }
  
  .edit-inventory button {
    font-size: 14px;
    padding: 6px 12px;
  }
}


.delete-confirm {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.delete-confirm h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.delete-confirm .notice {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.delete-confirm .notice li {
  color: red;
}

.delete-confirm form div {
  margin-bottom: 15px;
}

.delete-confirm label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.delete-confirm input[type="text"],
.delete-confirm input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.delete-confirm p {
  margin-bottom: 15px;
}

.delete-confirm button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-confirm button:hover {
  background-color: #c82333;
}


.accMan {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.accMan h1, .accMan h2, .accMan h3 {
  color: #333;
}

.accMan p {
  color: #666;
}

.accMan .notice {
  padding: 10px;
  background-color: #ffdd57;
  color: #b58602;
  list-style: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.accMan .notice li {
  line-height: 1.6;
}

.accMan a {
  color: #3366CC;
  text-decoration: none;
}

.accMan a:hover {
  text-decoration: underline;
}

.UpdView {
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.UpdView h1, .UpdView h2, .UpdView h3 {
  color: #444;
}

.UpdView h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.UpdView h2 {
  font-size: 1.5em;
  margin: 20px 0px;
}

.UpdView h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.UpdView form {
  display: flex;
  flex-direction: column;
}

.UpdView label {
  margin-bottom: 5px;
  font-weight: bold;
}

.UpdView input[type="text"], .UpdView input[type="email"], .UpdView input[type="password"] {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.UpdView input[type="submit"] {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #1962b1;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.UpdView input[type="submit"]:hover {
  background-color: #1d436b;
}

.UpdView .notice {
  list-style: none;
  padding: 0;
  color: red;
}

.UpdView .notice li {
  margin-bottom: 10px;
}

.gotocommunity {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.community-link {
  color: #000000;
  background-color: #ffdd6f;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px; /* Increased font size */
  transition: background-color 0.3s ease;
}

.community-link:hover {
  background-color: #ffc963;
}


.community-section {
  margin: 0 auto;
  width: 80%;
  font-family: Arial, sans-serif;
}

.community-section h1 {
  text-align: center;
  color: #007bff;
  padding: 20px 0;
}

.community-content {
  display: flex; /* Added to create a flex container */
  justify-content: space-between; /* To create space between .com-sec and form */
}

.com-sec {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  width: 45%; /* Adjusted to account for the space-between */
}

.comment {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}

.comment p {
  margin-bottom: 5px;
}

.comment span {
  color: #2c3466;
  font-size: 0.8em;
}


  
 
  /* Styles for the form */
  
  .community-section form {
    width: 45%; /* Adjusted to account for the space-between */
  }
  
  .comment-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .comment-input label {
    margin-bottom: 5px;
  }
  
  .input-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  #comment-box {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  #comment-box:hover,
  #comment-box:focus {
    background-color: #fff1b4;
    color: #9c6b00;
  }
  
  .input-wrapper .submit-btn {
    background-color: transparent;
    border: none;
    cursor: pointer; 
  }
  
  .input-wrapper .submit-btn:hover {
    opacity: 0.5;
  }
  
  .input-wrapper .submit-btn img {
    height: 15px;
    width: auto;
  }
  @media (max-width: 600px) {  
    .community-section {
      width: 90%;  
    }
  
    .community-content {
      flex-direction: column;  
    }
  
    .com-sec, form {
      width: 100%;
    }
  
    .input-wrapper {
      flex-direction: column; 
    }
  
    .input-wrapper #comment-box {
      margin-right: 0;  
    }
  
    .input-wrapper .submit-btn {
      margin-top: 10px;  
    }
  } 
  
